[Unit]
Description=Anubis container
After=network.target
After=forgejo-pod.service
After=forgejo-network.service

[Container]
Pod=forgejo.pod
ContainerName=anubis
Image=ghcr.io/techarohq/anubis:latest
AutoUpdate=registry

Volume=/data/anubis/botPolicy.yaml:/data/cfg/botPolicy.yaml:ro

Environment=TZ=Etc/UTC
Environment=BIND=:8080
Environment=DIFFICULTY=4
Environment=SERVE_ROBOTS_TXT=true
Environment=TARGET=http://forgejo:3000
Environment=POLICY_FNAME=/data/cfg/botPolicy.yaml
Environment=OG_PASSTHROUGH=true
Environment=OG_EXPIRY_TIME=24h
Environment=REDIRECT_DOMAINS=git.kura.gg
Environment=USE_SIMPLIFIED_EXPLANATION=true

#HealthCmd="anubis --healthcheck"
#HealthInterval=60s
#HealthRetries=5
#HealthTimeout=30s
#HealthStartPeriod=1s

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
