[Unit]
Description=nginx container
After=forgejo-pod.service
After=forgejo-network.service
After=anubis.service

[Container]
Pod=forgejo.pod
ContainerName=nginx
Image=nginx.build
AutoUpdate=local

Volume=/data/nginx/nginx.conf:/etc/nginx/nginx.conf
Volume=nginx-acme-letsencrypt.volume:/var/cache/nginx/acme-letsencrypt
Volume=nginx-proxy-cache.volume:/var/cache/nginx/proxy_cache

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC

HealthCmd="curl --fail http://localhost || exit 1"
HealthInterval=60s
HealthRetries=5
HealthStartPeriod=20s
HealthStartPeriod=10s

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
