[Unit]
Description=nginx container

[Container]
Pod=forgejo.pod
ContainerName=nginx
Image=git.kura.gg/kura/forgejo/nginx:latest
AutoUpdate=local

Volume=/data/nginx/nginx.conf:/etc/nginx/nginx.conf
Volume=/data/nginx/git.kura.gg.pem.ech:/etc/nginx/git.kura.gg.pem.ech:ro
Volume=nginx-acme-letsencrypt.volume:/var/cache/nginx/acme-letsencrypt
Volume=nginx-proxy-cache.volume:/var/cache/nginx/proxy_cache

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC

HealthCmd="curl --fail http://localhost/status || exit 1"
HealthInterval=60s
HealthRetries=5
HealthStartPeriod=20s
HealthStartPeriod=10s

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
